.fb-disabled{
    pointer-events: none;
    opacity: 0.5;
}

span.fb-disabled-txt {
    color: red;
    display: none;
}

.fb-disabled + span.fb-disabled-txt{
    display: block;
    opacity: 1;
}


.xoo-wsc-premium {
    padding: 20px 0;
}

.xoo-wscp-head {
    font-size: 24px;
    font-weight: bold;
}

.xoo-wscp-head a {
    font-size: 15px;
    margin: 0 3px;
}

ul.xoo-wscp-features {
    margin: 10px 20px;
    padding: 0;
    list-style-type: disc;
    color: #2a9d8f;
    font-weight: 600;
    font-size: 16px;
}

ul.xoo-wscp-features li {
    padding: 7px 0px;
}

.xoo-settings-container[active-tab="pro"] .xoo-sc-bottom-btns {
    display: none;
}

.xoo-ml-service-info, .xoo-ml-free-popup{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    position: relative;
    top: -5px;
}

.xoo-ml-free-popup{
    font-size: 14px;
    font-weight: normal;
    line-height: 19px;
    color: #54bb2c;
}

.xoo-as-field a {
    margin-right: 20px;
}

.xoo-ass-phone-ph_popup .xoo-asc-desc {
    line-height: 25px;
}


.xoo-ml-tab-info-links {
    display: flex;
    margin-bottom: 10px;
}

.xoo-ml-tab-info-links a {
    margin-right: 6px;
}

.xoo-ml-tab-info span {
    font-size: 15px;
    line-height: 21px;
}

.xoo-ml-ti-pop span {
    display: block;
}

.xoo-ml-ti-pop {
    margin-top: 10px;
}

.xoo-ml-service-info {
    color: #df3434;
}

/** PRO Features List **/
.xoo-wscp-list > div> span {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 21px;
    font-weight: 600;
}

.xoo-wscp-list ul li {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    margin-bottom: 14px;
    line-height: 24px;
    font-size: 18px;
}

.xoo-wscp-list ul {
    margin-bottom: 35px;
    margin-left: 8px;
}

.xoo-wsc-premium {
    display: table;
    margin: 20px auto;
    background-color: #f7f7f7;
    padding: 20px 20px;
    box-shadow: -1px 1px 0px 0px #eee;
    max-width: 650px;
    width: 100%;
}

.xoo-wscp-list li img {
    width: 15px;
}

.xoo-wscp-head > div > span:nth-child(2) {
    display: block;
    font-size: 13px;
    font-weight: 500;
    margin-top: 10px;
    font-style: italic;
    color: #777;
}


.xoo-wscp-one {
    display: flex;
    align-items: center;
    font-size: 20px;
    font-weight: bold;
    flex-wrap: wrap;
    margin-bottom: 20px;
    justify-content: center;
}

.xoo-wscp-one > div span:nth-child(2) {
    font-size: 12px;
    font-weight: 400;
    display: block;
    margin-top: 5px;
    color: #777;
}

.xoo-wscp-one img {
    width: 40px;
    top: -10px;
    position: relative;
}

.xoo-wscp-head > div:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 7px;
}


.xoo-wscp-head {
    font-size: 25px;
    font-weight: bold;
    margin: 5px auto 25px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.xoo-wscp-head a {
    font-size: 16px;
    background-color: #2271b1;
    color: #fff;
    padding: 8px 15px;
    font-weight: 500;
    text-decoration: none;
    text-transform: capitalize;
    border-radius: 2px;
}

ul.xoo-wscp-features {
    margin: 10px 20px;
    padding: 0;
    list-style-type: disc;
    color: #2a9d8f;
    font-weight: 600;
    font-size: 16px;
}

ul.xoo-wscp-features li {
    padding: 7px 0px;
}

.xoo-settings-container[active-tab="pro"] .xoo-sc-bottom-btns {
    display: none;
}


.xoo-as-setting.xoo-as-radio .xoo-as-field {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

span.xoo-admin-ml-link{
    text-decoration: underline;
    color: #3858e9;
    font-weight: 600;
    font-style: normal;
    cursor: pointer;
}

.xoo-as-setting[data-field_id="xoo-ml-services-options[whatsapp-phoneid]"] .xoo-as-desc {
    display: inline;
    margin-left: 10px;
}


.xoo-ml-notice-error{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.xoo-ml-notice-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}


.xoo-ml-notice-error , .xoo-ml-notice-success{
    padding: 7px 15px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: block;
    margin-top: 10px;
}

.xoo-ml-whatsapp-response {
    display: table;
}

input[name="xoo-ml-services-options[whatsapp-phoneid]"] {
    opacity: 0.5;
    pointer-events: none;
}

.xoo-admin-ml-register{
    display: none;
}

.xoo-admin-ml-register.xoo-admin-ml-active {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.xoo-ml-processing{
    pointer-events: none;
    opacity: 0.5;
}
